#targets {
    display: flex;
    flex-direction: row;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid #e8103b;
    border-left: 3px solid #e8103b;
    justify-content: center;
    height: 940px;
    width: 1331px;
}

.row{
    display: flex;
    flex-direction: column;
}

.target{
   border: 1px solid black;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   padding: 30px 30px;
   margin: 30px 70px;
   color: #fff;
   background-image: url(../images/targetCrop.png);
   background-position: center; /* Center the image */
   background-repeat: no-repeat; 
   background-size: cover;
}

#bullseye{
  width: 35px;
  height: 35px;
  border: 0px solid black;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 16.5px;
  margin-top: 16px;
}

#background {
    background-color:#9e9e9e;
    opacity: 0.9;
    width: 1336px;
    font-family: 'Bungee Inline'; 
    display: inline-block;
}

#background.back2 {
  text-align: center;
  font-family: 'Bungee Inline';font-size: 22px;
  display: inline-block;
  height: 40vw;
}
#landHead{
  color: #fff;
  border-bottom: 3px solid #e8103b;
}

.backBack {
  display: inline-block;
  width: 100vw;
  text-align: center;
}

body{
  background-color: black;
  display: inline-block;
  background-image: url(../images/backdropp.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.hide {
  visibility: hidden;
}

#score {
  color: #fff;
  font-size: 40px;
  border-top: 3px solid  #890923;

}
#targets_clicked {
  font-size: 40px;
  color: #fff;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid  #69071b;
  height: 85px;
}

#time{
  padding-right: 20px;

}

#topBar{
  display: flex;
  justify-content: space-around;
}

#stopwatch{
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 15px 0;
  width: 50vw;
  border-top: 3px solid  #890923;
  border-bottom: 2px solid  #69071b;
  height: 100px;
}

#showScore {
  color: #e8103b;
}

#redWord{
  color: #e8103b;
}

#scoreMsg {
  font-size: 45px;
  font-weight: 600;
  border: 3px dotted #69071b;
  width: 855px;
  height: 200px;
  margin-bottom: 0px;
  margin-left: 10px;
}

#scoreboard{
  margin-top: 10px;
  border: 3px dotted #69071b;
  height: 550px;
  padding-left: 5px;
  text-align: center;
  margin-right: 10px;
  margin-left: 20px;
}

#sac{
  color: #810e05;
  font-size: large;
}

#endGame {
  align-content: center;
  text-align: center;

}

/* Imitate a pressed effect for buttons/targets */
.target:active {
    top: 5px;
    box-shadow: none;
  }
  
  .target.active {
    top: 2px;
    box-shadow: 0 2px #890923;
  }
  
  .target.active:hover {
    box-shadow: 0 2px #69071b;
  }
  
  .target:active,
  .target.active:active {
    top: 5px;
    box-shadow: none;
  }
  /* last button effects */
  .gameBtn {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:10px 55px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
  }
    .gameBtn:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
  }
  .gameBtn:active {
    position:relative;
    top:1px;
  }

  #leaveBtn {
    margin-top: 20px;
    margin-left: 60px;
  }